<!DOCTYPE html>
<html lang="en">

<head>
    <title>Detalle del apartamento</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main class="detail-apartment container">
        <article>
            <h1>
                <%= selectedApartment.title %>
            </h1>
            <header> <del style="color: rgb(190, 182, 182)">
                    <%= selectedApartment.price %>
                </del>
                <%= selectedApartment.price * 0.9 %> € por noche
            </header>
            <img src="<%= selectedApartment.mainPhoto %>" alt="">
            <div>
                <%= selectedApartment.description %>
            </div>
    
            <article>
                Espacio
                <%= selectedApartment.size %> m<sup>2</sup>
                <div><i class="fa fa-pie-chart" ></i> Habitaciones: <%= selectedApartment.rooms %></div>
                <div><i class="fa fa-bed" ></i> Camas: <%= selectedApartment.beds %></div>
                <div><i class="fa fa-bath" ></i> Baños: <%= selectedApartment.bathroom %></div>
                <div><i class="fa fa-user" ></i> Capacidad: <%= selectedApartment.capacity %></div>
                <div><i class="fa fa-bath" ></i> Baños: <%= selectedApartment.bathroom %></div>
            </article>
            <article>
                Comodidades
                <% if (selectedApartment.services.wifi) { %>
                    <div><i class="fa fa-wifi"></i> WiFi</div>
                <% } %>
                <% if (selectedApartment.services.tv) { %>
                    <div><i class="fa fa-television"></i> TV</div>
                <% } %>
                <% if (selectedApartment.services.air) { %>
                    <div><i class="fa fa-snowflake-o"></i> Aire Condidionado</div>
                <% } %>
                <% if (selectedApartment.services.kitchen) { %>
                    <div><i class="fa fa-cutlery"></i> Cocina</div>
                <% } %>
                <% if (selectedApartment.services.heating) { %>
                    <div><i class="fa fa-thermometer-three-quarters"></i> Calefacción</div>
                <% } %>
                <% if (selectedApartment.services.accessible) { %>
                    <div><i class="fa fa-wheelchair"></i> Adaptado para personas con movilidad reducida</div>
                <% } %>
 
            </article>

            <article>
                Normas: <%= selectedApartment.rules %>
            </article>
            <article>
                Ubicación: 
                <%= selectedApartment.province %>
                <%= selectedApartment.city %>
                <%= selectedApartment.gps %>
            </article>
            <footer>
            </footer>
        
        <div class="container">
            <% if (isAdmin) { %>
                <a href="/admin/apartment/<%= selectedApartment._id %>/edit/">Editar apartamento</a>
                <% } else { %>
                    <!-- Si no soy adminitrador. TODO: valorar si permitir al admin también hacer reservas -->
                    <!-- TODO 1. Crear los controles de formulario necesarios para realizar la reserva: EMAIL, FECHA DE INICIO, FECHA DE FIN. Este formulario debería realiar una petición de tipo POST a /apartment/new-reservation. ACORDAOS que hay que pasar el identificador del apartamento en un <input:hidden>. Cómo hacerlo? Mirad la vida new-apartment.ejs -->
                    <h2>Datos de la reserva</h2>
                    <form action="/apartment/new-reservation" method="post">
                        <input type="hidden" name="idApartment" value="<%= selectedApartment._id %>">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required>
                        <label for="startDate">Fecha de inicio </label>
                        <input type="date" name="startDate" id="startDate">
                        <label for="endDate">Fecha de fin</label>
                        <input type="date" name="endDate" id="endDate">
                        <input type="submit" value="Reservar">
                    </form>
                    <% } %>
        </div>
    </main>
</body>

</html>