<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tribook Apartments</title>
    <!-- Indica que hacemos la petición GET a la raíz del servidor -->
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header class="container-fluid">
        <%- include('./partials/header.ejs') %>
    </header>
    <main class="container">
        <h1>Home Page</h1>
        <!-- Paso 1 BUSCAR: Añadir un formulario para realizar la búsqueda por precio máximo. este <form> que valor tiene el atributo method? GET . Qué valor tendrá el atributo "action"? /search -->
            <form class="container" action="/search" method="GET">
                <fieldset>
                    <label for="maxPrice">Precio máximo por noche</label>
                    <input type="number" name="maxPrice" id="maxPrice" min="0" max="1000000" value="">
                </fieldset>
                
                <fieldset>
                    <label for="capacity">Capacidad (número de personas)</label>
                    <input type="number" name="capacity" id="capacity" min="1" max="20" value="">
                </fieldset>
            
                <fieldset>
                    <label for="city">Ciudad</label>
                    <input type="text" name="city" id="city" placeholder="Introduce la ciudad">
                </fieldset>
            
                <fieldset>
                    <label for="checkInDate">Fecha de entrada</label>
                    <input type="date" name="checkInDate" id="checkInDate">
                </fieldset>
            
                <fieldset>
                    <label for="checkOutDate">Fecha de salida</label>
                    <input type="date" name="checkOutDate" id="checkOutDate">
                </fieldset>
            
              <!--  <fieldset>
                    <label for="orderBy">Ordenar por:</label>
                    <select name="orderBy" id="orderBy">
                        <option value="default">Apartamentos más recientes primero</option>
                        <option value="minPrice">Precio (más bajo primero)</option>
                    </select>
                </fieldset>-->
                
                <input type="submit" value="Filtrar">
                <input type="reset" value="Restablecer filtros">
            </form>
            

        <div class="container apartments">
          
            <% for (const ap of apartments) {
               if (isAdmin || !ap.isDisabled) {  %>
            
                <a href="/apartment/<%= ap._id %>">
                    <article class="apartment <%= ap.isDisabled ? 'disabled' : '' %>">
                        <header>
                            <%= ap.title %>
                            <div><%= ap.size %> m2</div>
                        </header>
                        <div><img src="<%= ap.mainPhoto %>" alt="mainPhoto"></div>
                        <footer>
                            <%= ap.price %> € por noche
                            <div>
                                <% if (ap.services.wifi) { %>
                                    <i class="fa fa-wifi"></i>
                                <% } %>
                                <% if (ap.services.tv) { %>
                                    <i class="fa fa-television"></i>
                                <% } %>
                                <% if (ap.services.air) { %>
                                    <i class="fa fa-snowflake-o"></i>
                                <% } %>
                                <% if (ap.services.kitchen) { %>
                                    <i class="fa fa-cutlery"></i>
                                <% } %> 
                                <% if (ap.services.heating) { %>
                                    <i class="fa fa-thermometer-three-quarters"></i>
                                <% } %>
                                <% if (ap.services.accessible) { %>
                                    <i class="fa fa-wheelchair"></i>
                                <% } %>
               
                                
                            </div>
                        </footer>
                    </article>
                </a>
                <% }
            }%>
        </div>
    </main>

</body>

</html>